<h1>Listing variants</h1>

<table>
  <tr>
    <th>二维码</th>
    <th>密码</th>
    <th>工厂</th>
    <th>产品</th>
    <th>用户</th>
    <th>尝试次数</th>
    <th>状态</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variants.each do |variant| %>
  <tr>
    <td> 
        <li><a href= <%= "http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=#{variant.fullcode}&chld=H|0"%> ><%= variant.fullcode %></a></li>
    </td>
    <td><%= variant.password %></td>
    <td><%= variant.factory.name || '' %></td>
    <td><%= variant.product.name || '' %></td>
    <td><%= variant.user ? variant.user.phone : '' %></td>
    <td><%= variant.retry_count || 0 %></td>
    <td><%= variant.checked || 'false' %></td>
  </tr>
<% end %>
</table>

<%= gmaps4rails(@json) %>

<br />