<p id="notice"><%= notice %></p>

<p>
  <b>Fullcode:</b>
  <%= @variant.fullcode %>
</p>

<p>
  <b>Password:</b>
  <%= @variant.password %>
</p>

<p>
  <b>Factory:</b>
  <%= @variant.factory %>
</p>

<p>
  <b>Product:</b>
  <%= @variant.product %>
</p>

<p>
  <b>User:</b>
  <%= @variant.user %>
</p>

<p>
  <b>Retry:</b>
  <%= @variant.retry_count %>
</p>

<p>
  <b>Ipaddress:</b>
  <%= @variant.ipaddress %>
</p>


<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
